<div class="main">
  <div class="top">
    <h1 class="title">
      Generate a <span class="randomPassword"> <br> random password </span>
    </h1>
    <h5 class="hint">
      Never use an insecure password again.
    </h5>
  </div>

  <div class="generateSection">
    <button (click)="startGenerate()" class="generateButton">
      🎲 Generate password
    </button>
    <div class="inputSection">
      <p class="inputParagraph"> Set the length of the passwords: </p>
      <input type="number" id="passwordLength" class="setLength" src="text" placeholder="#15" maxlength="6"
        pattern="[0-9]{6}" size="6">
    </div>
  </div>

  <hr class="solid">
  <div class="passwordsSection">
    <button id="firstPassword" type="button" class="generatedPassword btn btn-outline-secondary me-2 button-tooltip"
      ngbTooltip="The selected password is on clipboard" [autoClose]="true" triggers="manual" #t="ngbTooltip"
      (click)="t.open()" (click)="putFirstTextContentToClipboard()">-</button>
    <button id="secondPassword" type="button" class="generatedPassword btn btn-outline-secondary me-2 button-tooltip"
      ngbTooltip="The selected password is on clipboard" [autoClose]="true" triggers="manual" #t="ngbTooltip"
      (click)="t.open()" (click)="putSecondTextContentToClipboard()">-</button>
    <button id="thirdPassword" type="button" class="generatedPassword btn btn-outline-secondary me-2 button-tooltip"
      ngbTooltip="The selected password is on clipboard" [autoClose]="true" triggers="manual" #t="ngbTooltip"
      (click)="t.open()" (click)="putThirdTextContentToClipboard()">-</button>
    <button id="fourthPassword" type="button" class="generatedPassword btn btn-outline-secondary me-2 button-tooltip"
      ngbTooltip="The selected password is on clipboard" [autoClose]="true" triggers="manual" #t="ngbTooltip"
      (click)="t.open()" (click)="putFourthTextContentToClipboard()">-</button>

  </div>
</div>