<div class="main">
  <div class="top">
    <h1 class="title">
      Generate a <span class="randomPassword"> <br> random password </span>
    </h1>
    <h4 class="hint">
      Never use an insecure password again.
    </h4>
  </div>

  <div class="generateSection">
    <button (click)="startGenerate()" class="generateButton">
      🎲 Generate password
    </button>
    <div class="inputSection">
      <p class="inputParagraph"> Set the length of the passwords: </p>
      <input id="passwordLength" class="setLength" src="text" placeholder="#15">
    </div>
  </div>

  <hr class="solid">
  <div class="passwordsSection">
    <button id="firstPassword" class="generatedPassword" (click)="putFirstTextContentToClipboard()">-</button>
    <button id="secondPassword" class="generatedPassword" (click)="putSecondTextContentToClipboard()">-</button>
    <button id="thirdPassword" class="generatedPassword" (click)="putThirdTextContentToClipboard()">-</button>
    <button id="fourthPassword" class="generatedPassword" (click)="putFourthTextContentToClipboard()">-</button>

  </div>
</div>